.git/**
.github/**
.tmp/**
.vscode-test/**
.artifacts/**
.vscode/**
.vscode-test.mjs
media/extension-icon-source.svg
.gitignore
.nvmrc
src/**
test/**
scripts/**
out/**
node_modules/**
*.map
tsconfig*.json
eslint.config.mjs
esbuild.mjs
